/* Общий стиль для всех элементов */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: #2e2e2e;
	overflow: hidden;
}

/* Fortune Wheel ----------------------- */
.fortune-wheel{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.fortune-wheel__body{
	width: 1339px;
}
.fortune-wheel__header{
	margin: 56px 0px 56px 0px;
}
/* Block */
.header{
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	color: white;
}
.header__strong{
	color: red;
}
.fortune-wheel__wheel-block{
	/* ? */
}
.fortune-wheel__columns{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	margin-top: 80px; 
}
.fortune-wheel__left-side{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 110px;
}
.fortune-wheel__arrow{
	height: 60px;
	rotate: 90deg;
}
.fortune-wheel__wheel{
	/* ? */
}
/* Block */
.wheel{
	position: relative;
}
.wheel__wheel{
	width: 506px;
	height: 506px;
	border-radius: 50%;
	border: 10px solid #ff4500;
	position: relative;
	overflow: hidden;
	transform-origin: center;
	rotate: -30deg;
	cursor: pointer;
}
.wheel__segment{
	position: absolute;
	width: 50%;
	height: 50%;
	color: white;
	text-align: center;
	line-height: 280px;
	transform-origin: 100% 100%;
	font-weight: bold;
	border-right: 2px solid #ff5733; 
}
.wheel__image{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 40px;
	right: 50px;
}
.fortune-wheel__right-side{
	padding-right: 134px;
	padding-left: 32px;
	padding-top: 20px;
}
.fortune-wheel__attempts{
	/* ? */
}
/* Block */
.attempts{
	color: white;
}
.attempts__count{
/* ? */
}
.fortune-wheel__description{
	font-size: 12px;
	width: 420px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: white;
	line-height: 20px;
}
.fortune-wheel__tasks{
	display: flex;
	flex-direction: column;
	gap: 14px;
}
.buttons{
	display: flex;
	gap: 4px;
}
.buttons__left-side{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	padding: 20px;
	background-color: #4c4c4c;
	color: white;
	width: 300px;
}
.buttons__task{
	font-size: 12px;
}
.buttons__plus-attempt{
	font-size: 10px;
}
.buttons__button{
	padding: 16px 40px 16px 40px;
}
/* Block */
.button{
	color: white;
	border: none;
	background-color: orangered;
	font-size: 14px;
	cursor: pointer;
	width: 150px;
}
.button:hover{
	box-shadow: 0px 0px 8px rgba(255, 61, 19, 0.9);
}

/* Footer ----------------------- */
.footer{
	background-color: #111111;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 68px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.footer__container{
	width: 1339px;
	display: flex;
	justify-content: right;
	gap: 60px;
	padding-right: 399px;
}
.footer_ul{
	list-style-type: none;
}
.footer_link{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14px;
}
.footer_link:hover{
	color: #e1e1e1;
}
/* end ----------------------- */

/* Особые стили ----------------------- */
.buttons__button_done{
	background-color: #2e2e2e;
	border: 1px solid #3b3b3b;
	cursor: not-allowed;
  pointer-events: none;
	color: gray;
}
.buttons__left-side_done{
	background-color: #2e2e2e;
	border: 1px solid #3b3b3b;
	cursor: not-allowed;
  pointer-events: none;
	color: gray;
}
/* end ----------------------- */

/*desktops - higher resolution*/
@media (min-width: 1281px){

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
	/* Block */
	.header{
		font-size: 20px;
	}
}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){
	.fortune-wheel__body{
		width: 1024px;
	}
	/* Block */
	.header{
		font-size: 20px;
	}
	.fortune-wheel__columns{
		gap: 20px;
		margin-top: 70px; 
	}
	.fortune-wheel__left-side{
		padding-left: 0px;
	}
	.fortune-wheel__right-side{
		padding-right: 0px;
		padding-left: 26px;
	}
	.wheel__wheel{
		width: 440px;
		height: 440px;
	}
	/* Block */
	.attempts{
		font-size: 20px;
	}
	.fortune-wheel__description{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.footer__container{
		width: 1024px;
		gap: 50px;
		padding-right: 284px;
	}
}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.fortune-wheel__body{
		width: 1024px;
	}
	/* Block */
	.header{
		font-size: 20px;
	}
	.fortune-wheel__columns{
		gap: 20px;
		margin-top: 70px; 
	}
	.fortune-wheel__left-side{
		padding-left: 0px;
	}
	.fortune-wheel__right-side{
		padding-right: 0px;
		padding-left: 26px;
	}
	.wheel__wheel{
		width: 440px;
		height: 440px;
	}
	/* Block */
	.attempts{
		font-size: 20px;
	}
	.fortune-wheel__description{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.footer__container{
		width: 1024px;
		gap: 50px;
		padding-right: 284px;
	}
}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px){
	body{
		/* background-color: pink; */
		overflow-x: hidden;
		overflow-y: auto;
		margin-bottom: 128px;
	}
	.fortune-wheel__body{
		width: 750px;
	}
	/* Block */
	.header{
		font-size: 16px;
	}
	.fortune-wheel__columns{
		flex-direction: column;
		gap: 40px;
		margin-top: 70px; 
	}
	.fortune-wheel__left-side{
		padding-left: 0px;
	}
	.fortune-wheel__right-side{
		padding-right: 0px;
		padding-left: 26px;
	}
	.footer__container{
		width: 750px;
		gap: 50px;
		padding-right: 0px;
		justify-content: center;
	}
}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){
	body{
		overflow-x: hidden;
		overflow-y: auto;
		margin-bottom: 128px;
	}
	.fortune-wheel__body{
		width: 690px;
	}
	/* Block */
	.header{
		font-size: 14px;
	}
	.fortune-wheel__columns{
		flex-direction: column;
		gap: 40px;
		margin-top: 70px; 
	}
	.fortune-wheel__left-side{
		padding: 0px;
	}
	.fortune-wheel__right-side{
		padding: 0px;
	}
	.wheel__wheel{
		width: 400px;
		height: 400px;
	}
	.wheel__image{
		width: 60px;
		height: 60px;
		right: 30px;
	}
	.fortune-wheel__description{
		width: 300px;
		margin-top: 20px;
		margin-bottom: 30px;
		line-height: 18px;
	}
	.button:hover{
		box-shadow: none;
	}
	.buttons__button{
		padding: 10px 26px 10px 26px;
	}
	.buttons__left-side{
		flex: 1;
		width: 100%;
	}
	.button{
		width: 150px;
	}
	.footer__container{
		width: 690px;
		gap: 50px;
		padding: 0px;
		justify-content: center;
	}
}